@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #5941a9;
    --secondary-color: #ffe66d;
    --tertiary-color: #6d72c3;
    --code-bg: #e5d4ed;
    @apply scroll-smooth selection:bg-[var(--secondary-color)] selection:text-black;
  }
}

@layer components {
  .toc {
    @apply sticky z-20 block p-5 border rounded-lg top-[10vh]  w-full;
  }

  .toc li {
    @apply relative;
  }

  .toc .toc--head {
    @apply flex items-center justify-between text-sm font-bold;
  }

  .toc .toc--list {
    @apply flex flex-col;
  }

  .toc .toc--list .toc--link {
    @apply font-body text-slate-700 text-[0.9em] hover:text-[var(--primary-color)] transition duration-75 ease-in-out font-[400];
  }

  .toc .toc--list .toc--link__depth-3 {
    @apply ml-4 font-light text-sm block;
  }

  div[data-rehype-pretty-code-fragment] {
    @apply my-4;
  }

  div[data-rehype-pretty-code-title] {
    @apply font-heading text-[.8rem] text-gray-500 font-[300] w-full h-full bg-gray-50 px-5 py-2 rounded-b-none rounded-t-lg;
  }

  .line {
    @apply inline-flex w-full px-5 border;
  }

  code .highlighted {
    @apply bg-pink-200/30;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-[1rem] mr-[1rem] text-gray-400;
  }

  code[data-line-numbers-max-digits="2"] > .line::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > .line::before {
    width: 3rem;
  }

  .anchor {
    @apply block w-full h-full bg-slate-200;
  }

  .prose > p > code,
  .prose li > code {
    @apply p-1 bg-slate-100 rounded-md before:content-none after:content-none border border-slate-200 font-[600];
  }

  table,
  tr,
  td,
  th,
  thead {
    @apply px-2 py-1;
  }
}
