code::-webkit-scrollbar, pre::-webkit-scrollbar {
  display: none;
}

pre,code{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

code[class*='language-'],
pre[class*='language-'] {
  color: white;
}
.rehype-code-title {
  font-family: SFMono-Regular, Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background: var(--chakra-colors-gray-600);
  font-weight: bolder;
  color: var(--chakra-colors-white);
  font-size: var(--chakra-fontSizes-sm);
  padding-inline: var(--chakra-space-4);
  padding-block: var(--chakra-space-2);
  border-top-left-radius: var(--chakra-radii-md) !important;
  border-top-right-radius: var(--chakra-radii-md) !important;
}

.rehype-code-title + pre {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

img.mdx-image {
  border-radius: var(--chakra-radii-md);
}


h2,h3,h4,h5,h6{
  position: relative;
  display: block;
}

h2:hover::after, h3:hover::after,h4:hover::after,h5:hover::after,h6:hover::after{
  opacity: 1;
}

a::after{
  content: '#';
  color: var(--chakra-colors-gray-500);
  position: absolute;
  left: -1.3rem;
  top: 75px;
  opacity: 0;
}

a.anchor{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.lazyload-cover{
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog-cover{
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}